WebApplication1/packages/
WebApplication1/Model/bin/
WebApplication1/Model/obj/
WebApplication1/Persistence/bin/
WebApplication1/Persistence/obj/
WebApplication1/Service/bin/
WebApplication1/Service/obj/
WebApplication1/WebApplication1/bin/
WebApplication1/WebApplication1/obj/
./asp-net-mvc-casa-do-codigo-master.zip
