
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de Usuários";
}

<div class="panel panel-primary">

    <div class="panel-heading">
        Home
    </div>

    <div class="panel-body">

        <h1>Home</h1>

    </div>

</div>